$dark-blue: #00408b;
$light-blue: #4a90e2;
$red: #d0021b;
$light-gray: #f2f2f2;
$gray: #c8c8c8;
$dark-gray: #757575;
$bg-color: #e1e1e1;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  background-color: #e1e1e1;
  line-height: 1.5;
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
}

.task__navbar {
  background: #00aeff;
  .navbar__tabs {
    max-width: 650px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .navbar__link {
      padding: 18px 0;
      color: $dark-blue;
      font-size: calc(12px + 2vmin);
      text-decoration: none;
      text-align: center;
      font-weight: 750;
      flex: 1;

      &:hover {
        color: white;
      }

      @media only screen and (max-width: 320px) {
        font-size: calc(11px + 2vmin);
      }
    }

    .navbar__link--active {
      box-shadow: 0 -5px 0 0 $dark-blue inset;
      color: white;
    }
  }
}

.container {
  text-align: center;
  width: 100%;
  max-width: 640px;
  margin: 2rem auto 4.5rem;
  padding: 0 15px;
}

.border-0 {
  font-size: inherit;
  padding: 0;
  outline: none;
  border: 0;
  background-color: inherit;
}

.task__adder {
  position: relative;
  height: 4rem;
  width: 100%;
  border-radius: 0.31rem;
  font-size: 1.5rem;

  .adder__label {
    position: absolute;
    line-height: 1;
    left: 2rem;
    top: 1.2rem;
    color: $gray;
  }

  .adder__input {
    width: inherit;
    height: inherit;
    background-color: #ffffff;
    padding: 0 0 0 4.2rem;
    border: 2px solid $gray;
    border-radius: inherit;
    font: inherit;
  }

  .adder__option {
    position: absolute;
    height: 2rem;
    width: 2rem;
    right: 2rem;
    top: 1.2rem;

    &:hover {
      border-radius: 50%;
      background-color: #c8c8c8c8;
      cursor: pointer;
    }

    &.is_expanded {
      border-radius: 50%;
      color: #4a90e2c8;
    }
  }
}

.task__expansion {
  font-size: 1.2rem;
  // display: none;
  border: 2px solid $gray;
  border-top: 0;
  border-radius: 0.31rem;
  margin-bottom: 0.5rem;

  &.is_expanded {
    display: block;
  }

  .expansion__body {
    padding: 1.5rem 3rem;
    background-color: $light-gray;
    margin: auto;
    text-align: left;

    .expansion__body__label {
      display: block;
      svg {
        margin-right: 0.25rem;
      }

      .expansion__body__file {
        margin-left: 2rem;

        [type="file"] {
          display: none;
        }
      }
    }

    .expansion__body__date input {
      padding: 0.3rem 1rem;
      margin-left: 2rem;
      margin-bottom: 1rem;
      border: 0px;
      border-radius: 5px;
      outline-color: #b3d4fc;

      &::-webkit-calendar-picker-indicator {
        outline: none;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .expansion__body__description {
      margin-left: 2rem;
      width: 80%;
      max-width: fill-available;
      height: 8.5rem;
      resize: vertical;
      border: 0;
      border-radius: 5px;
      outline-color: #b3d4fc;
      padding: 0.5rem 1rem;
    }

    @media only screen and (max-width: 340px) {
      padding: 1rem 0rem;
    }
  }

  .expansion__footer {
    display: flex;

    button {
      flex: 1 1 auto;
      font-size: 1.25rem;
      line-height: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-radius: 0;
      border-style: none;
      outline-color: #b3d4fc;

      &:hover {
        cursor: pointer;
      }

      svg {
        margin-right: 0.25rem;
      }
    }

    .cancel--danger {
      color: #d0021b;
      background-color: #fff;
    }

    .update--primary {
      color: #fff;
      background-color: #4a90e2;
    }
  }
}
